.text-center, header {
    text-align: center
}

@font-face {
    font-family: NautilusPompilius;
    src: url(../fonts/nautilus.eot);
    src: url(../fonts/nautilus.eot#iefix) format("embedded-opentype"), url(../fonts/nautilus.woff) format("woff"), url(../fonts/nautilus.ttf) format("truetype"), url(../fonts/nautilus.svg) format("svg")
}

/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 *//*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=1fb1c7f3bf948a6f2ca5e35eca5a47cf)
 * Config saved to config.json and https://gist.github.com/1fb1c7f3bf948a6f2ca5e35eca5a47cf
 *//*!
* Bootstrap v3.3.7 (http://getbootstrap.com)
* Copyright 2011-2016 Twitter, Inc.
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*//*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSonF5uFdDttMLvmWuJdhhgs.ttf) format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype')
}

html {
    font-family: sans-serif
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent;
    color: #337ab7;
    text-decoration: none
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, optgroup, strong {
    font-weight: 700
}

h1 {
    font-size: 2em
}

mark {
    background: #ff0;
    color: #000
}

.img-thumbnail, body {
    background-color: #fff
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

svg:not(:root) {
    overflow: hidden
}

hr {
    box-sizing: content-box;
    height: 0
}

pre, textarea {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

*, .maps h3, .popup form input, :after, :before {
    box-sizing: border-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

legend {
    border: 0;
    padding: 0
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}

figure {
    margin: 0
}

img {
    vertical-align: middle
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

.img-rounded {
    border-radius: 6px
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto
}

.img-circle {
    border-radius: 50%
}

.sr-only, abbr, acronym, fieldset, hr, img {
    border: 0
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #eee
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0)
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

[role=button] {
    cursor: pointer
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666667%
}

.col-xs-10 {
    width: 83.33333333%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666667%
}

.col-xs-7 {
    width: 58.33333333%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666667%
}

.col-xs-4 {
    width: 33.33333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.66666667%
}

.col-xs-1 {
    width: 8.33333333%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-pull-11 {
    right: 91.66666667%
}

.col-xs-pull-10 {
    right: 83.33333333%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-8 {
    right: 66.66666667%
}

.col-xs-pull-7 {
    right: 58.33333333%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-5 {
    right: 41.66666667%
}

.col-xs-pull-4 {
    right: 33.33333333%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-2 {
    right: 16.66666667%
}

.col-xs-pull-1 {
    right: 8.33333333%
}

.col-xs-pull-0 {
    right: auto
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-push-11 {
    left: 91.66666667%
}

.col-xs-push-10 {
    left: 83.33333333%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-8 {
    left: 66.66666667%
}

.col-xs-push-7 {
    left: 58.33333333%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-5 {
    left: 41.66666667%
}

.col-xs-push-4 {
    left: 33.33333333%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-2 {
    left: 16.66666667%
}

.col-xs-push-1 {
    left: 8.33333333%
}

.col-xs-push-0 {
    left: auto
}

.col-xs-offset-12 {
    margin-left: 100%
}

.col-xs-offset-11 {
    margin-left: 91.66666667%
}

.col-xs-offset-10 {
    margin-left: 83.33333333%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-8 {
    margin-left: 66.66666667%
}

.col-xs-offset-7 {
    margin-left: 58.33333333%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-5 {
    margin-left: 41.66666667%
}

.col-xs-offset-4 {
    margin-left: 33.33333333%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-2 {
    margin-left: 16.66666667%
}

.col-xs-offset-1 {
    margin-left: 8.33333333%
}

.col-xs-offset-0 {
    margin-left: 0
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666667%
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666667%
    }

    .col-sm-7 {
        width: 58.33333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.66666667%
    }

    .col-sm-4 {
        width: 33.33333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.66666667%
    }

    .col-sm-1 {
        width: 8.33333333%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-pull-11 {
        right: 91.66666667%
    }

    .col-sm-pull-10 {
        right: 83.33333333%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-8 {
        right: 66.66666667%
    }

    .col-sm-pull-7 {
        right: 58.33333333%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-5 {
        right: 41.66666667%
    }

    .col-sm-pull-4 {
        right: 33.33333333%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-2 {
        right: 16.66666667%
    }

    .col-sm-pull-1 {
        right: 8.33333333%
    }

    .col-sm-pull-0 {
        right: auto
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-push-11 {
        left: 91.66666667%
    }

    .col-sm-push-10 {
        left: 83.33333333%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-8 {
        left: 66.66666667%
    }

    .col-sm-push-7 {
        left: 58.33333333%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-5 {
        left: 41.66666667%
    }

    .col-sm-push-4 {
        left: 33.33333333%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-2 {
        left: 16.66666667%
    }

    .col-sm-push-1 {
        left: 8.33333333%
    }

    .col-sm-push-0 {
        left: auto
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666667%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-1 {
        width: 8.33333333%
    }

    .col-md-pull-12 {
        right: 100%
    }

    .col-md-pull-11 {
        right: 91.66666667%
    }

    .col-md-pull-10 {
        right: 83.33333333%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-8 {
        right: 66.66666667%
    }

    .col-md-pull-7 {
        right: 58.33333333%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-5 {
        right: 41.66666667%
    }

    .col-md-pull-4 {
        right: 33.33333333%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-2 {
        right: 16.66666667%
    }

    .col-md-pull-1 {
        right: 8.33333333%
    }

    .col-md-pull-0 {
        right: auto
    }

    .col-md-push-12 {
        left: 100%
    }

    .col-md-push-11 {
        left: 91.66666667%
    }

    .col-md-push-10 {
        left: 83.33333333%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-8 {
        left: 66.66666667%
    }

    .col-md-push-7 {
        left: 58.33333333%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-5 {
        left: 41.66666667%
    }

    .col-md-push-4 {
        left: 33.33333333%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-2 {
        left: 16.66666667%
    }

    .col-md-push-1 {
        left: 8.33333333%
    }

    .col-md-push-0 {
        left: auto
    }

    .col-md-offset-12 {
        margin-left: 100%
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%
    }

    .col-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width: 1200px) {
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
        float: left
    }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-11 {
        width: 91.66666667%
    }

    .col-lg-10 {
        width: 83.33333333%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-8 {
        width: 66.66666667%
    }

    .col-lg-7 {
        width: 58.33333333%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-5 {
        width: 41.66666667%
    }

    .col-lg-4 {
        width: 33.33333333%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-2 {
        width: 16.66666667%
    }

    .col-lg-1 {
        width: 8.33333333%
    }

    .col-lg-pull-12 {
        right: 100%
    }

    .col-lg-pull-11 {
        right: 91.66666667%
    }

    .col-lg-pull-10 {
        right: 83.33333333%
    }

    .col-lg-pull-9 {
        right: 75%
    }

    .col-lg-pull-8 {
        right: 66.66666667%
    }

    .col-lg-pull-7 {
        right: 58.33333333%
    }

    .col-lg-pull-6 {
        right: 50%
    }

    .col-lg-pull-5 {
        right: 41.66666667%
    }

    .col-lg-pull-4 {
        right: 33.33333333%
    }

    .col-lg-pull-3 {
        right: 25%
    }

    .col-lg-pull-2 {
        right: 16.66666667%
    }

    .col-lg-pull-1 {
        right: 8.33333333%
    }

    .col-lg-pull-0 {
        right: auto
    }

    .col-lg-push-12 {
        left: 100%
    }

    .col-lg-push-11 {
        left: 91.66666667%
    }

    .col-lg-push-10 {
        left: 83.33333333%
    }

    .col-lg-push-9 {
        left: 75%
    }

    .col-lg-push-8 {
        left: 66.66666667%
    }

    .col-lg-push-7 {
        left: 58.33333333%
    }

    .col-lg-push-6 {
        left: 50%
    }

    .col-lg-push-5 {
        left: 41.66666667%
    }

    .col-lg-push-4 {
        left: 33.33333333%
    }

    .col-lg-push-3 {
        left: 25%
    }

    .col-lg-push-2 {
        left: 16.66666667%
    }

    .col-lg-push-1 {
        left: 8.33333333%
    }

    .col-lg-push-0 {
        left: auto
    }

    .col-lg-offset-12 {
        margin-left: 100%
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%
    }

    .col-lg-offset-9 {
        margin-left: 75%
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }

    .col-lg-offset-3 {
        margin-left: 25%
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%
    }

    .col-lg-offset-0 {
        margin-left: 0
    }
}

.clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .row:after, .row:before {
    content: " ";
    display: table
}

.clearfix:after, .container-fluid:after, .container:after, .row:after {
    clear: both
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, html, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

.pull-right {
    float: right !important
}

.pull-left {
    float: left !important
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.invisible {
    visibility: hidden
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.hidden {
    display: none !important
}

.affix {
    position: fixed
}

body, html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.button-pink, .button-pink:hover {
    border-radius: 40px;
    box-shadow: 0 19px 20px rgba(255, 51, 255, .15)
}

address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: 400
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

q:after, q:before {
    content: ''
}

button, input, textarea {
    outline: 0;
    -webkit-appearance: none
}

body {
    font-family: 'Open Sans', sans-serif
}

.container {
    width: 100%;
    overflow: hidden;
    float: left
}

.container .row {
    max-width: 960px;
    margin: 0 auto
}

.button-pink {
    background-color: #c99d44;
    background-image: linear-gradient(to right, #942882 0, #f3f 100%);
    cursor: pointer
}

.button-pink:hover {
    background-color: #f3f;
    background-image: linear-gradient(to right, #f3f 0, #942882 100%)
}

header {
    padding-bottom: 90px;
}

header .call-back {
    width: 300px;
    margin-top: 10px;
    float: right;
    text-align: right
}

.advantages h3, .complex h3, .gallery, .gallery .owl-dots, .maps h3, .opinions h3, .request h3, footer {
    text-align: center
}

header .call-back p {
    line-height: 25px;
    color: #333;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase
}

header .call-back a {
    color: #942882;
    font-size: 24px;
    text-decoration: none;
    display: block;
    margin-top: -7px;
    font-weight: 700
}

header .line h1, header .line h2 {
    color: #fff;
    text-transform: uppercase
}

header .logo {
    margin-top: 3px;
    float: left
}

header .button {
    width: 46px;
    height: 46px;
    margin: 13px 0 0 15px;
    cursor: pointer;
    float: right;
    background: url(../img/call-back.png) no-repeat
}

header .button:hover {
    background-position: right 0
}

header .line {
    margin: 50px 0 480px;
    background: rgba(148, 40, 130, .8);
    padding: 20px 0 15px
}

header .line h1 {
    line-height: 40px;
    margin-bottom: 10px;
    font-size: 48px
}

header .line h2 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px
}

header .box {
    padding-bottom: 33px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .05)
}

header .box img {
    margin: 30px 0
}

header .box .title {
    line-height: 24px;
    color: #942882;
    font-size: 16px;
    font-weight: 700
}

header .box .text {
    margin-top: 15px;
    color: #333;
    font-size: 14px;
    font-weight: 400
}

header .counst {
    position: relative;
    color: #942882;
    font-size: 22px;
    font-weight: 700;
    margin: 30px 0
}

header .button-pink {
    color: #fffefe;
    display: inline-block;
    font-size: 18px;
    padding: 15px 55px;
    font-weight: 700;
    position: relative
}

.complex ul li::before, header .button-pink::before {
    position: absolute;
    content: ''
}

header .button-pink::before {
    width: 46px;
    top: -45px;
    right: -60px;
    height: 94px;
    background: url(../img/str.png) no-repeat
}

header .button-pink span {
    font-weight: 400
}

.advantages {
    background: url(../img/advantages.jpg) top center no-repeat;
    background-size: cover;
    padding-bottom: 100px
}

.advantages h3 {
    line-height: 40px;
    text-transform: uppercase;
    color: #942882;
    font-size: 42px;
    margin: 90px 0;
    font-weight: 700
}

.advantages h3 span {
    color: #333;
    font-size: 30px;
    font-weight: 400
}

.advantages .box {
    margin-bottom: 40px;
    display: table
}

.advantages .box img {
    margin-right: 20px;
    border-radius: 300px
}

.advantages .box p {
    font-size: 15px;
    display: table-cell;
    vertical-align: middle;
    line-height: 24px;
    color: #333;
    font-weight: 400
}

.advantages .box p span {
    color: #942882;
    font-weight: 700
}

.advantages .button-pink {
    margin-top: 60px;
    padding: 15px 50px;
    display: inline-block
}

.advantages .button-pink p {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px
}

.complex {
    padding-bottom: 100px
}

.complex h3 {
    margin: 90px 0 100px;
    color: #333;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 700
}

.complex h3 span {
    font-size: 30px;
    font-weight: 400
}

.complex .text, .complex .title {
    font-size: 16px;
    line-height: 24px
}

.complex .text {
    color: #333;
    font-weight: 400
}

.complex .title {
    color: #942882;
    font-weight: 700
}

.complex img {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 30px
}

.complex .mt-10 {
    margin-top: 10px
}

.complex .mt-20 {
    margin-top: 20px
}

.complex .mt-30 {
    margin-top: 30px
}

.complex ul {
    margin-top: 10px
}

.complex ul li {
    margin-bottom: 10px;
    padding-left: 30px;
    max-width: 90%
}

.complex ul li::before {
    width: 8px;
    border-radius: 30px;
    height: 8px;
    margin: 6px 0 0 -30px;
    border: 1px solid #942882
}

.complex .button-pink {
    padding: 15px 50px;
    margin-top: 45px;
    display: inline-block
}

.complex .button-pink p {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px
}

.complex .button-pink p span {
    text-decoration: line-through
}

.gallery {
    padding-bottom: 50px
}

.gallery h3 {
    margin: 90px 0;
    color: #333;
    font-size: 42px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase
}

.gallery .owl-carousel {
    max-width: 960px
}

.gallery .owl-carousel li img {
    max-width: 100%
}

.gallery .owl-dots {
    display: block !important;
    width: 100%;
    float: left;
    margin-top: 45px;
    position: relative;
    z-index: 100
}

.gallery .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    border: 2px solid #d6d6d6;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    border-radius: 20px
}

.gallery .owl-dots .active {
    width: 12px;
    height: 12px;
    border: 2px solid #942882;
    background: 0 0;
    vertical-align: middle
}

.gallery .button-pink {
    display: inline-block;
    margin: 45px 0 60px;
    padding: 15px 75px
}

.gallery .button-pink p {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px
}

.gallery .decor {
    width: 100%;
    height: 80px;
    background: url(../img/decor.png) top center no-repeat
}

.request {
    padding-bottom: 100px
}

.request h3 {
    color: #333;
    font-size: 42px;
    font-weight: 700;
    margin: 5px 0 90px;
    line-height: 40px;
    text-transform: uppercase
}

.request ul {
    border-top: 1px solid #eff5f7
}

.request ul li {
    border-bottom: 1px solid #eff5f7
}

.request ul li .title {
    cursor: pointer;
    color: #942882;
    position: relative;
    padding: 20px 0 20px 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px
}

.request ul li .title::before {
    width: 16px;
    height: 10px;
    right: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url(../img/str-b.png);
    content: '';
    position: absolute
}

.request ul li .text {
    padding: 15px 40px 25px;
    color: #333;
    display: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px
}

.request ul [data-active="1"] {
    background: #f8f9fa
}

.request ul [data-active="1"] .title {
    padding-bottom: 0
}

.request ul [data-active="1"] .title::before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.request ul [data-active="1"] .text {
    display: block
}

.request .button-pink {
    display: inline-block;
    margin-top: 50px;
    padding: 15px 75px
}

.request .button-pink p {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px
}

.opinions {
    background: #eff5f7;
    padding-bottom: 100px
}

.opinions h3 {
    line-height: 40px;
    text-transform: uppercase;
    color: #942882;
    font-size: 42px;
    font-weight: 700;
    margin: 95px 0 90px
}

.opinions h3 span {
    color: #333;
    font-size: 30px;
    font-weight: 400
}

.opinions .owl-carousel {
    max-width: 940px
}

.opinions .owl-carousel li .box-text {
    width: 50%;
    float: right
}

.opinions .owl-carousel li .box-text .title {
    color: #333;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700
}

.opinions .owl-carousel li .box-text .text {
    color: #333;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400
}

.opinions .owl-carousel li img {
    width: 46%;
    float: left;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .05)
}

.opinions .owl-dots {
    display: block !important;
    width: 100%;
    float: left;
    margin-top: 45px;
    position: relative;
    z-index: 100;
    text-align: center
}

.opinions .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    border: 2px solid #d6d6d6;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    border-radius: 20px
}

.opinions .owl-dots .active {
    width: 12px;
    height: 12px;
    border: 2px solid #942882;
    background: 0 0;
    vertical-align: middle
}

.opinions .button-pink {
    margin-top: 50px;
    padding: 15px 90px;
    display: inline-block
}

.opinions .button-pink p {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px
}

.maps {
    padding: 0 !important
}

.maps h3 {
    color: #333;
    font-size: 42px;
    font-weight: 700;
    padding: 0 20px;
    margin: 100px 0 90px;
    line-height: 40px;
    text-transform: uppercase
}

footer .box p, footer .info {
    font-weight: 400;
    color: #fff
}

.maps #map {
    height: 600px
}

footer {
    background: url(../img/footer.jpg) top center no-repeat;
    background-size: cover
}

footer .logo {
    margin: 60px 0 80px
}

footer .box {
    background: rgba(0, 0, 0, .5);
    margin-bottom: 20px
}

footer .box p {
    font-size: 16px;
    line-height: 24px;
    padding: 20px 30px 20px 80px;
    text-align: left
}

.sertificats .owl-carousel li, .sertificats h3 {
    text-align: center
}

footer .box p::before {
    width: 32px;
    height: 46px;
    background: url(../img/maps.png) no-repeat;
    content: '';
    position: absolute;
    left: 30px
}

footer .info {
    margin: 20px 0 25px;
    font-size: 18px;
    line-height: 20px
}

footer a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    font-weight: 600
}

footer a:hover {
    text-decoration: none;
    color: #fff
}

footer .button-pink {
    display: inline-block;
    margin-top: 25px;
    padding: 20px 80px
}

footer .button-pink p {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px
}

footer .counst {
    height: 23px;
    font-size: 20px;
    margin: 30px 0 35px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400
}

footer .counst .strike {
    color: #fff;
    font-weight: 700;
    text-decoration: line-through
}

footer .counst .pink {
    color: #f3f;
    font-weight: 700
}

.sertificats h3 {
    color: #333;
    margin: 95px 0 90px;
    font-size: 42px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase
}

.sertificats .owl-carousel li .box {
    position: relative
}

.sertificats .owl-carousel li .box .hover {
    background: rgba(148, 40, 130, .8);
    content: '';
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    right: 0;
    bottom: 0;
    position: absolute
}

.sertificats .owl-carousel li .box .hover::before {
    margin: auto;
    top: 0;
    width: 60px !important;
    display: block;
    height: 60px !important;
    bottom: 0;
    background: url(../img/lupa.png) no-repeat;
    left: 0;
    right: 0;
    position: absolute;
    content: ''
}

.popup, .sertificats .owl-dots {
    position: relative;
    text-align: center
}

.sertificats .owl-carousel li .box:hover .hover {
    transition: .5s ease all;
    opacity: 1
}

.sertificats .owl-carousel li .box img {
    min-width: 100%;
    max-width: 100%
}

.sertificats .owl-dots {
    display: block !important;
    width: 100%;
    float: left;
    margin-top: 45px;
    z-index: 100
}

.sertificats .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    border: 2px solid #d6d6d6;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    border-radius: 20px
}

.sertificats .owl-dots .active {
    width: 12px;
    height: 12px;
    border: 2px solid #942882;
    background: 0 0;
    vertical-align: middle
}

.big-form {
    background: url(../img/big-form.jpg) top center no-repeat;
    background-size: cover
}

.big-form .action {
    margin-top: 100px;
    max-width: 100%
}

.big-form .counst {
    font-size: 36px;
    margin: 35px 0 30px;
    color: #333;
    font-weight: 400;
    line-height: 60px
}

.big-form .counst .bold {
    color: #333;
    font-weight: 700
}

.big-form .counst .strike {
    color: #333;
    font-weight: 700;
    text-decoration: line-through
}

.big-form .counst .pink {
    color: #942882;
    font-weight: 700
}

.big-form .ttl {
    text-align: center;
    color: #942882;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 76px 0 20px
}

.big-form .time {
    margin: 0 10px 40px;
    width: 94px;
    display: inline-block;
    background: url(../img/timer.png) no-repeat;
    height: 50px
}

.big-form .time .num {
    letter-spacing: 30px;
    color: #942882;
    line-height: 50px;
    padding-left: 12px;
    font-size: 36px;
    font-weight: 400
}

.big-form .time .text {
    color: #797979;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 5px
}

.big-form .white-box {
    background: rgba(255, 255, 255, .5)
}

.big-form .white-box .prezent img {
    float: left;
    margin-top: 50px
}

.big-form .white-box .prezent .box-text {
    float: left;
    max-width: 190px;
    margin-top: 84px
}

.big-form .white-box .prezent .box-text .title {
    line-height: 24px;
    color: #942882;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase
}

.big-form .white-box .prezent .box-text .text {
    color: #333;
    font-size: 16px;
    font-weight: 400
}

.big-form .white-box .form {
    text-align: center
}

.big-form .white-box .form .title {
    margin-top: 60px;
    font-size: 20px;
    color: #333;
    font-weight: 400
}

.big-form .white-box .form .title .pink {
    color: #942882;
    font-weight: 700;
    text-transform: uppercase
}

.big-form .white-box .form form {
    margin-top: 55px
}

.big-form .white-box .form form input {
    width: 300px;
    display: inline-block;
    padding: 0 30px;
    box-sizing: border-box;
    height: 50px;
    background-color: #fff;
    margin: 0 10px;
    border: 2px solid #d6d6d6;
    border-radius: 25px
}

.big-form .white-box .form form input::-webkit-input-placeholder {
    color: #333
}

.big-form .white-box .form form input::-moz-placeholder {
    color: #333
}

.big-form .white-box .form form input:-moz-placeholder {
    color: #333
}

.big-form .white-box .form form input:-ms-input-placeholder {
    color: #333
}

.big-form .white-box .form form .button-pink {
    padding: 15px 90px;
    display: inline-block;
    margin: 30px 0 50px
}

.big-form .white-box .form form .button-pink p {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px
}

.popup .counst span, .popup .counst strike {
    line-height: 35px;
    font-size: 36px;
    font-weight: 700
}

.popup {
    width: 940px;
    background: #fff
}

.popup .close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
    background: url(../img/close.png)
}

.popup h3 {
    color: #333;
    padding-top: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 35px
}

.popup h3 span {
    color: #333;
    font-size: 24px;
    font-weight: 400
}

.popup .counst strike {
    color: #333;
    text-decoration: line-through
}

.popup .counst span {
    color: #942882
}

.popup .prezent {
    display: inline-block
}

.popup .prezent img {
    float: left;
    margin-top: 30px
}

.popup .prezent .box-text {
    float: left;
    text-align: left;
    max-width: 350px;
    margin-top: 64px
}

.popup .prezent .box-text .title {
    line-height: 24px;
    color: #942882;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase
}

.popup .prezent .box-text .text {
    color: #333;
    font-size: 16px;
    font-weight: 400
}

.popup .form {
    background: #f8f9fa;
    width: 100%
}

.popup .form .title {
    padding-top: 40px;
    color: #333;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px
}

.popup .form .title span {
    font-size: 20px;
    font-weight: 400
}

.popup form {
    margin-top: 25px
}

.popup form input {
    width: 300px;
    display: inline-block;
    padding: 0 30px;
    height: 50px;
    background-color: #fff;
    margin: 0 10px;
    border: 2px solid #d6d6d6;
    border-radius: 25px
}

.popup form input::-webkit-input-placeholder {
    color: #333
}

.popup form input::-moz-placeholder {
    color: #333
}

.popup form input:-moz-placeholder {
    color: #333
}

.popup form input:-ms-input-placeholder {
    color: #333
}

.popup form .button-pink {
    padding: 15px 90px;
    display: inline-block;
    margin: 30px 0 50px
}

.popup form .button-pink p {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px
}

@media all and (max-width: 940px) {
    .popup {
        width: 100%
    }
}

@media all and (max-width: 992px) {
    .big-form .white-box {
        text-align: center
    }

    .big-form .white-box .prezent {
        display: inline-block
    }

    .big-form .ttl {
        margin: 36px 0 20px
    }
}

@media all and (max-width: 767px) {
    header .call-back {
        width: auto
    }

    header .line h1 {
        font-size: 30px;
        padding: 0 10px;
        line-height: 35px
    }

    header .line h2 {
        padding: 0 10px;
        font-size: 25px;
        line-height: 30px
    }

    .big-form .counst {
        font-size: 30px;
        line-height: 40px
    }

    .big-form .white-box .form .title {
        font-size: 16px
    }

    .big-form .white-box .form form input {
        margin-bottom: 10px
    }

    .big-form .white-box .prezent img {
        float: none;
        display: inline-block;
        margin: 30px 0
    }

    .big-form .white-box .prezent .box-text {
        margin-top: 0;
        display: inline-block;
        float: none
    }

    footer {
        padding-bottom: 30px;
        text-align: center
    }

    footer .box {
        display: inline-block;
        max-width: 400px
    }

    footer .box p {
        position: relative
    }

    .advantages h3, .complex h3, .gallery h3, .maps h3, .opinions h3, .request h3, .sertificats h3 {
        font-size: 35px;
        line-height: 45px
    }

    .advantages h3 span, .complex h3 span, .gallery h3 span, .maps h3 span, .opinions h3 span, .request h3 span, .sertificats h3 span {
        font-size: 30px
    }

    .maps #map {
        height: 300px
    }
}

@media all and (max-width: 740px) {
    .popup .prezent .box-text, .popup form {
        display: inline-block;
        width: 80%
    }

    .popup h3 {
        font-size: 25px;
        line-height: 30px;
        padding: 50px 20px 0
    }

    .popup .counst span, .popup .counst strike {
        font-size: 25px !important;
        line-height: 30px !important
    }

    .popup .prezent img {
        float: none;
        display: inline-block
    }

    .popup .prezent .box-text {
        max-width: 100%;
        float: none;
        margin: 0 0 30px;
        text-align: center
    }

    .popup .form .title {
        padding: 50px 20px 0;
        font-size: 20px;
        line-height: 25px
    }

    .popup form input {
        margin: 0 0 20px;
        width: 100%
    }

    .popup form .button-pink {
        margin-top: 0;
        width: 100%;
        padding: 10px 0
    }
}

@media all and (max-width: 600px) {
    .opinions .owl-carousel li img {
        width: 100%
    }

    .opinions .owl-carousel li .box-text {
        margin-top: 30px;
        width: 100%
    }

    .request ul li .title {
        padding: 20px 50px 20px 20px
    }
}

@media all and (max-width: 425px) {
    header {
        text-align: center
    }

    header .line h1 {
        font-size: 25px;
        line-height: 30px
    }

    header .line h2 {
        font-size: 20px;
        line-height: 25px
    }

    header .logo {
        float: none;
        display: inline-block;
        margin-top: 20px
    }

    header .button-pink::before {
        display: none
    }

    header .box {
        padding: 0 20px 20px;
        box-sizing: border-box
    }

    header .counst {
        font-size: 18px
    }

    header .button-pink {
        width: 100%;
        padding: 15px 0
    }

    header .button-pink p {
        font-size: 16px
    }
}

@media all and (max-width: 375px) {
    .advantages h3, .complex h3, .gallery h3, .maps h3, .opinions h3, .request h3, .sertificats h3 {
        font-size: 25px;
        line-height: 35px
    }

    .advantages h3 span, .complex h3 span, .gallery h3 span, .maps h3 span, .opinions h3 span, .request h3 span, .sertificats h3 span {
        font-size: 20px
    }

    .advantages .box {
        text-align: center
    }

    .advantages .box img {
        margin: 0;
        display: inline-block
    }

    .advantages .box p {
        margin-top: 20px;
        width: 100%;
        float: left
    }

    .complex .text {
        font-size: 14px
    }

    .big-form .white-box .form form input {
        margin: 0 0 20px;
        width: 100%;
        max-width: 100%
    }

    .big-form .white-box .form form .button-pink {
        padding: 15px 0;
        width: 100%;
        margin-top: 0
    }

    .advantages .button-pink, .complex .button-pink, .gallery .button-pink, .opinions .button-pink, .request .button-pink, footer .button-pink {
        width: 100%;
        padding: 15px 0
    }

    .advantages .button-pink p, .complex .button-pink p, .gallery .button-pink p, .opinions .button-pink p, .request .button-pink p, footer .button-pink p {
        font-size: 16px
    }
}

.soc-info {
    text-align: center;
}

.soc-info img {
    margin: 15px 15px;
}

.soc-info .text {
    margin-top: 60px;
    font-size: 20px;
    text-align: center;
    color: #333;
}